@media screen and (max-width: 932px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');

    :root {
        --Linear: linear-gradient(92deg, #EEC38E 0.6%, #FCEBB1 33.1%, #FCEBB1 68.17%, #EEC38E 99.63%);
    }

    .for-bg {
        height: 100vh;
        object-fit: cover;
        background-position: center;
        position: relative;
    }

    .for-title {
        width: 346px;
        height: 10vh;
        background: var(--Linear);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .for-title div {
        margin-top: 10px;
    }

    .for_border {
        width: 1px;
        height: 14vw;
        background: linear-gradient(180deg, rgba(182, 118, 0, 0.00) 0%, rgba(182, 118, 0, 0.60) 46.88%, rgba(182, 118, 0, 0.00) 100%);
    }

    .for-title p,
    h2 {
        text-align: center;
        color: #4B3000;
    }

    .title-top h3 {
        font-family: 'Bebas Neue';
        font-size: 30px;
    }

    .title-top p {
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
    }

    .data,
    .time {
        display: none;
    }

    .img-left,
    .mainImage {
        width: 90vw;
        height: auto;
        object-fit: contain;
        position: relative;
        left: 5%;
    }

    .main {
        position: relative;
        height: auto;
    }

    .main .p1 {
        text-align: center;
        font-family: 'Poppins';
        font-size: 4vw;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2vw;
        text-transform: uppercase;
        background: var(--Linear);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 576px) {
            letter-spacing: 0px;
        }
    }

    .mobi-text {
        display: flex;
        color: #fff;
        width: 90vw;
        height: auto;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        font-family: "Bebas Neue";
        font-size: 70px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .box-text
    .box-text1 {
        color: #fff !important;
        width: 100px;
        font-size: 4vw !important;
        font-family: 'Poppins';
        margin-left: 5vw;
        margin-top: 0;
    }

    @media (max-width: 576px) {
            .box-text {
                width: 100%;
                text-align: center;
                margin-left: 0;
                font-size: 15px !important;
            }
            .box-text1 {
                text-align: center;
                font-size: 16px !important;
            }
            .box-text1:nth-child(2) {
                color: white;
            }
    }

    .button-box {
        width: 90vw;
        height: 20vh;
        flex-shrink: 0;
        border-radius: 5vw;
        border: 1px solid rgba(252, 203, 110, 0.30);
        background: rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(2vw);
        position: absolute;
        bottom: -10%;
        left: 5vw;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 576px) {
            padding: 1rem 0;
            background: rgba(0, 0, 0, 0.50);
            left: auto;
            bottom: -15%;
            .button {
                width: 250px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                font-weight: 600;
            }
        }
    }

    .button {
        width: 40vw;
        height: 15vw;
        background: var(--Linear);
        border-radius: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-left,
    .top-right,
    .top-top,
    .top-top1,
    .bottom-left,
    .bottom-right,
    .bottom-bottom,
    .bottom-bottom1 {
        display: none;
    }

    .top-left {
        top: 0;
        left: 0;
    }

    .top-right {
        top: 0;
        right: 0;
    }

    .top-top {
        top: 0;
        left: 0;
    }

    .top-top1 {
        top: 0;
        right: 0;
    }

    .bottom-left {
        bottom: 0;
        left: 0;
    }

    .bottom-right {
        bottom: 0;
        right: 0;
    }

    .bottom-bottom {
        bottom: 0;
        left: 0;
    }

    .bottom-bottom1 {
        bottom: 0;
        right: 0;
    }

    .settings {
        display: none;
    }

    .cancle {
        display: none;
    }

    .box {
        display: none;
    }

    .box1 {
        display: none;
    }

}